<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>171715729901-o05tj7ppg1mf6qqcdlmibrl5isfdtf43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171715729901-o05tj7ppg1mf6qqcdlmibrl5isfdtf43</string>
	<key>API_KEY</key>
	<string>AIzaSyC3cq6BkPby8snASGT4TuileVp5CjAFgto</string>
	<key>GCM_SENDER_ID</key>
	<string>171715729901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vidabase.Vidabase</string>
	<key>PROJECT_ID</key>
	<string>firebase-vidabase</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-vidabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:171715729901:ios:2f16c72ea432bd3d</string>
	<key>DATABASE_URL</key>
	<string>https://vidabase.firebaseio.com</string>
</dict>
</plist>